.achievement-item {
  margin: 10px;
  text-align: center;
  width: 150px;
}

.achievement-item__button {
  background-color: orange;
  border: none;
  width: 65px;
  height: 65px;
  border-radius: 6px;
}

.achievement-item__button--done {
  background-color: green;
}

.achievement-item__description {
  font-size: 0.7rem;
  padding: 10px;
}

.achievement-item__image {
  width: 35px;
  height: auto;
}
