.start {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start__button {
  margin-top: 1rem;
  padding: 10px 40px;
  background-color: green;
  text-transform: uppercase;
  border: none;
  color: white;
}

.start__button:hover {
  background-color: darkgreen;
}

a.start__button {
  color: #fff;
  text-decoration: none;
}
