.task-item__button {
  background-color: orange;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 6px;
}

.task-item__button--done {
  background-color: green;
}

.task-item__button--failure {
  background-color: orange;
}

.task-item__label {
  margin-left: 1.25rem;
  line-height: 35px;
}

.task-item__label--done {
  text-decoration: line-through;
  font-weight: bold;
  color: green;
}
