.archive-item {
  margin: 0.5rem 0;
}

.archive-item__button {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 6px;
}

.archive-item__button--done {
  background-color: green;
}

.archive-item__button--failure {
  background-color: orange;
}

.archive-item__label--done {
  text-decoration: line-through;
  font-weight: bold;
  color: green;
}

.archive-item__label {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
}
