.actual-task__name {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

.actual-task__message {
  padding: 10px;
  font-style: italic;
  color: grey;
}

.actual-task__message--done {
  font-weight: bold;
}

.actual-task__button {
  background-color: lightgrey;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid black;
  margin: 10px;
}

.actual-task__button:hover,
.actual-task__description:hover {
  cursor: pointer;
}

.actual-task__button--done {
  background-color: green;
}

.actual-task__description--done {
  text-decoration: line-through;
  font-weight: bold;
  color: green;
}
