.results {
  margin: 2rem auto;
}

.results__button {
  margin: 1rem auto;
  width: 300px;
  display: block;
  padding: 10px 40px;
  background-color: green;
  text-transform: uppercase;
  border: none;
}

.results__button:hover {
  background-color: darkgreen;
}

a.results__button {
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
