@import './../../styles/style.scss';

.challenge {
  margin: 2rem auto;

  &__button {
    margin: 1rem auto;
    width: 300px;
    display: block;
    padding: 10px 40px;
    background-color: $green;
    text-transform: uppercase;
    border: none;
    text-align: center;
    font-weight: bold;

    &:hover {
      background-color: darken($green, 10%);
    }
  }

  a.challenge__button {
    color: $white;
    text-decoration: none;
  }
}
