.header {
  height: 70px;
  display: block;
}

.header__logout-button {
  padding: 5px 20px;
  background-color: lightgrey;
  text-transform: uppercase;
  border: none;
  color: black;
  border: 1px solid black;
  font-size: 0.7rem;
  float: right;
}

.header__logout-button:hover {
  background-color: grey;
  cursor: pointer;
}
