.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__button {
  margin-top: 1rem;
  padding: 10px 40px;
  background-color: green;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.login__button:hover {
    background-color: darkgreen;
  }

.login__button__error {
  color: red;
  font-size: 16px;
}

.login__input-name {
  padding: 10px;
  width: 400px;
  max-width: 100%;
  font-size: 1rem;
}
